html {
    font-size: 100%;
    font-family: sans-serif;
    color: #323232;
    background-color: var(--primary-color);
}

h2 {
    font-size: 1.5rem;
    line-height: 1.3; 
    margin: 1.43rem;
}

p {
    font-size: 1.1rem;
    line-height: 1.3; 
    margin: 1.43rem;
}



h1 {
    font-size: 3.5rem;
    line-height: 1.3;
    color: #323232ce;
}