@import 'css/reset.css';

html {
    font-size: 100%;
    font-family: sans-serif;
    background-color: rgb(242, 236, 229);
    color: #323232;
}

.header {
    background-image: url('img/paper-1074131.jpg');
    max-width: 100%;
    height: 5rem;
    background-size: cover;
    padding: 30px;
    border-bottom: solid #32323245 4px;
}

article {
    padding: 1rem;
    max-width: 700px;
}



h2 {
    font-size: 1.5rem;
    line-height: 1.3; 
    margin: 1.43rem;
}

p {
    font-size: 1.1rem;
    line-height: 1.3; 
    margin: 1.43rem;
}



h1 {
    font-size: 3.5rem;
    line-height: 1.3;
    color: #323232ce;
}


